# Ignore __pycache__ directories
**/__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore other common files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore text, csv, and Excel files
*.txt
*.csv
*.xlsx
*.xls

# Ignore default output directory
output/
